div{
	width:900px;
	height: 50px;
	background-color: black;
	margin:10px auto;
}
div>div{
	width: 0px;
	height: 50px;
	background-image: url(images.jpg);
	margin:0px;
	background-repeat: no-repeat;
	background-size: 900px;
}
